.about-container {
  margin-right: 0 !important;
}

// about part
.about {
  margin-top: 5% !important;
}

.top-image {
  height: 500px;
}

.demo-button {
  margin-top: 5%;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 1% 4% !important;
}

.how-pros-text {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

.manage-platform-text {
  color: rgba(41, 169, 235, 1);
  font-size: 45px;
  font-weight: 700;
}

.ease-of-use {
  color: #fff;
  font-size: 18px;
}

.about-title {
  margin-bottom: 0 !important;
  font-family: 'Raleway', sans-serif;
}

.image-content {
  overflow-x: hidden;
}

.title-content {
  padding-top: 10%;
}

.shape2-img {
  position: absolute;
  width: 100px;
  top: 10%;
}

// end about part

// start clients part

.clients-desktopView {
  margin-top: 20% !important;
}

.clients-text {
  color: rgba(41,169,235,1);
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.client-image {
  margin: 20px;
  width: 100px;
}

// end client part

// start security part

.security-content{
  margin-top: 10% !important;
}

.security-title {
  font-size: 40px;
}

.icon-description {
  color: #fff;
  padding-left: 20px;
  font-weight: 100;
}

// end security part

// start managing deals part

.managing {
  margin-top: 15% !important;
}

.managing-title-content {
  padding-top: 5%;
}

.managing-text {
  color: rgba(41,169,235,1);
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

// end managing deals part

// start icons style
.icons-style {
  color: rgba(41, 169, 235, 1);
}
// end icons style
@media screen and (max-width: 1025px) {
  .how-pros-text {
    font-size: 30px;
  }
  .title-content {
    padding-top: 15%;
  }
  .manage-platform-text {
    font-size: 30px;
  }
  .shape2-img {
    width: 70px;
    top: 12%;
  }
}

@media screen and (max-width: 415px) {
  .about {
    margin-top: 0 !important;
  }
  .title-content {
    padding-top: 10%;
  }
  .about-title {
    text-align: center;
  }
  .demo-button-div {
    text-align: center;
  }
  .image-content {
    margin-top: 50px !important;
  }
  .top-image {
    width: 100%;
    height: auto;
  }
  .shape2-img {
    top: 28%;
  }
  .client-image {
    width: 30px;
    margin: 10px;
  }
  .security-title {
    font-size: 30px;
  }
  .clients-text {
    font-size: 15px;
  }
  .managing-text {
    font-size: 15px;
  }
}