.telegram {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  background: linear-gradient(195deg, #49a3f1, #1A73E8);
  background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5625rem 1.5rem;
}

.telegram:hover {
  box-shadow: 0rem 0.875rem 1.625rem -0.75rem rgb(26 115 232 / 40%), 0rem 0.25rem 1.4375rem 0rem rgb(26 115 232 / 15%), 0rem 0.5rem 0.625rem -0.3125rem rgb(26 115 232 / 20%);
  background-color: #1A73E8;
}